h1{
    color: rgb(0, 0, 0);
}


.mainLink {
    display: block;
    margin-left: 60px;
}

.prosto {
    margin-left: 60px;
    
}

.zima {
    text-align: center;
}

.natchnennia {
    margin-left: 60px;
}

.link2 {
    display: block;
 margin-top: 5px;
}